.row {
    max-width: $grid-width;
    margin: 0 auto;

    // .row::after
    @include clearfix; 

    // We select everything except the last child it mean use margin to all except the last child
    &:not(:last-child) {  
        margin-bottom: $gutter-vertical;
    }

    // I seselect nya lahat ng class na may laman na nag uumpisa sa col-
    [class^="col-"] { 
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-2 {
        // always include #{} 100% width of the page - 2 margin-right and divided by 2
        width: calc((100% - #{$gutter-horizontal}) / 2); 
        
    }

    .col-1-of-3 {
        // 100 - 2x of gutter horizontal and divided the result by 3
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3); 
    }

    .col-1-of-4 {
        // 100 - 2x of gutter horizontal and divided the result by 3
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4); 
    }

    .col-2-of-3 {
        // 2x (100% - 2 * 6rem) 100 - 2x of margin-right +  6rem which is #gutter horizontal which is margin-right
        width: calc( 2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
    }

    .col-2-of-4 {
        // 2x (100 - 3x of gutter horizontal and) divided the result by 4
        width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal}); 
    }

    .col-3-of-4 {
        // 100 - 2x of gutter horizontal and divided the result by 3
        width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal}); 
    }


  

}