.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        display: inline-block;
        /* We add this inline blocks because buttons is an inline elements */
        transition: all .2s;
        /* All the transform will start animating after .2s */
        position: relative;
        /* This is from btn::after */
    }
    &:hover {
        /*** This animation will going to work after you hover the button ***/
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        /* X = 0px || Y = 10px || shadow 20px || and color black */
        &::after {
            /*** This will going to apply to btn::after after you hover it ***/
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active {
        /*** This animation will going to work after you click the button ***/
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
        /* X = 0px || Y = 5px || shadow 10px || and color black */
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        /* This is connected to .btn:link */
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    &--white {
        &:link,
        &:visited {
            background-color: $color-white;
            color: $color-grey-dark;
        }
        &::after {
            background-color: $color-white;
        }
    }

    &--primary {
        &:link,
        &:visited {
            background-color: $color-primary;
            color: $color-white;
        }
        &::after {
            background-color: $color-primary;
        }
    }
    &--animated {
        animation: moveInBottom 1s ease-out .75s;
        /*** @keyframes name || Animation duration || Animation animation-timing-function || Animation delay ***/
        animation-fill-mode: backwards;
        /*** This opactity 0 will now be applied before the animation starts ***/
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }
    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0rem 1rem 2rem rgba($color-black, .15); // 0 in the x, 10px in the y, 20px for the blur, color black 15%
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0rem 0.5rem 1rem rgba($color-black, .15); // 0 in the x, 10px in the y, 20px for the blur, color black 15%
        transform: translateY(0);
    }
}